<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Create an Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="vertical-space">
      <h1 class="center">
        ToDo App
      </h1>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        Email
      </ion-label>
      <ion-input type="email" placeholder="abc@xyz.cc" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        Password
      </ion-label>
      <ion-input type="Password" placeholder="Password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" color="danger" (click)="signup()" shape="round">SignUp</ion-button>
  <ion-button fill="clear" expand="block" color="danger" (click)="goToLogin()" >Already have an Account? Login Here</ion-button>

</ion-content>
